.side_bar{
  color: #808080;
  height: 100%;
  width: 12%;
  position: fixed;
  top:0;
  left:0;
  overflow-x:hidden;
}

.side_bar div{
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: #808080;
  padding: 175px 0px 175px 0px;
}

.side_bar div:hover{
  color: #000000;
}

.side_bar div a{
  text-decoration: none;
  font-size: 25px;
  color: #000000;
}

.side_bar div a:hover{
  color: #696969;
}

.main_page{
  margin-left:250px;
  padding:0px, 10 px;
}

.main_page h1{
  background-color: lightgray;
  text-align: center;
}

canvas {
  margin-left:0px;
  border:1px solid #d3d3d3;
}

canvas:hover {
  background-color: #696969;
  border-radius: 15px 15px 0 0;
}

.canvas_img{
  margin-left: 100px;
  border-radius: 15px 15px 0 0;
}

.button_up {
  margin-left:235px;
  margin-top: 30px;
  padding: 40px 50px 40px 47px;

}
.button_down {
  padding: 40px 40px 40px 40px;

}
.button_left {
  margin-left:125px;
  padding: 40px 40px 40px 40px;

}
.button_right {
  padding: 40px 40px 40px 40px;
}

.info_paragraph{
  font-size: 25px;
  padding: 20px 100px 20px 100px;
}

.special_commands{
  float: right;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 30px 10px 10px;
  width: 250px;
  margin-right:800px;
  margin-buttom:50px;
}

.special_commands:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.special_commands p{
  padding: 10px 10px 10px 10px;
}

.special_commands img{
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 140px;
  height: 140px;
}